# Editor artifacts
**.swp

# NPM cruft
node_modules
**.log

# Jetbrains IDE project files
.idea

# Build Files
dist/trivialperms.min.js

# Ignore source files
.babelrc
.editorconfig
.gitignore
**.yml
Gruntfile.js
src
examples
test
